* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url('./photos/index/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    color: rgb(185, 219, 15);
}

/* Cím */
#main_title {
    font-size: 6vw;
    text-align: center;
    text-shadow: 3px 3px 10px rgb(219, 15, 76);
    margin-top: 30px;
}

/* Szövegdoboz */
#text {
    background-color: purple;
    color: white;
    width: 300px;
    height: 40px;
    font-size: 25px;
    margin: 20px auto;
    display: block;
}

/* Képek konténerben, középen */
.image-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 50px auto;
}

.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.photo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Játék indítása gomb */
#game {
    font-size: 3vw;
    font-weight: bold;
    background-color: rgb(200, 9, 184);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
    text-align: center;
    text-shadow: 3px 3px 10px rgb(219, 15, 76);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    max-width: fit-content;
}

#game:hover {
    background-color: darkblue;
    transform: scale(1.1);
}

/* Kisebb képernyőkhöz */
@media (
